# Eclipse project files
*.classpath
*.project
.settings/

# IntelliJ project files
.idea/
*.iml

# bin folder
bin/

# ipynb checkpoints
.ipynb_checkpoints/

# unwanted latex byproducts
*.log
*.aux
*.synctex.gz

# Folder of background lit
literature/
